/*
* @Author: QBoooogle
* @Date:   2016-11-22 02:13:24
* @Last Modified by:   QBoooogle
* @Last Modified time: 2016-11-22 13:16:07
*/
footer {
	margin-top: 200px;
	background-color: rgba(0,0,0,1);
	color:rgba(240,240,240,0.9)
}

.main {
	height:40px;
}
.mybtn {
	margin-left:18px;
}