<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Sample Food Store</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
    <h1>Sample Food Store</h1>
    <ul th:each="city : ${cities}" class="list-group">
    	<li class="list-group-item"><a th:text="${city.name}" th:href="@{/menu(cityId=${city.id})}">New York</a></li>
    	<ul th:each="cuisine : ${city.cuisines}">
    		<li th:text="${cuisine.cuisineName}"></li>
    	</ul>
    </ul>
</body>
</html>