/*
* @Author: QBoooogle
* @Date:   2016-11-22 02:13:33
* @Last Modified by:   QBoooogle
* @Last Modified time: 2016-11-22 13:04:47
*/
footer {
	margin-top: 528px;
	background-color: rgba(0,0,0,1);
	color:rgba(240,240,240,0.9)
}